---
import { Debug } from 'astro:components';
import Layout from '../../layouts/Layout.astro';
import type { CompositeurResponse, OeuvreResponse, InterpretationResponse, FormationResponse } from '../../pocketbase-typegen';
export const prerender = false;
const id = Astro.params.id;
const oeuvre = await Astro.locals.pb
    .collection<
        OeuvreResponse<{
            Compositeur?: CompositeurResponse;
            Interpretation?: InterpretationResponse<{
                Formation?: FormationResponse;
            }>[];
    }>>('oeuvre').getOne(id!, {
        expand: 'Compositeur, Interpretation, Interpretation.Formation',
    });
---

<Layout pageTitle={oeuvre.Titre} titleCover={oeuvre.Titre} Artiste=`${oeuvre.expand?.Compositeur?.Prenom} ${oeuvre.expand?.Compositeur?.Nom}`} Description={oeuvre.Description} Couverture={oeuvre.Cover}>
    <nav class="flex flex-warp gap-10 w-auto">
        <button class="bg-Gris text-Blanc font-Work-Sans font-medium uppercase text-lg lg:text-2xl p-2 lg:p-3 mt-2 lg:mt-5">Acheter UN TICKET</button>
        <button class=" bg-Blanc text-Noir font-Work-Sans font-medium uppercase text-lg lg:text-2xl p-2 lg:p-3 mt-2 lg:mt-5">Vour tous les concerts</button>
        <button class=" bg-Blanc text-Noir font-Work-Sans font-medium uppercase text-lg lg:text-2xl p-2 lg:p-3 mt-2 lg:mt-5">Acheter en physique</button>
    </nav>
    {oeuvre.Interpretation != null && <nav class="mt-1">
        {oeuvre.expand?.Interpretation?.map((interpretation) => (
            <div class="bg-Gris border-y border-Noir">{interpretation.expand?.Formation?.Nom}</div>
        ))}
    </nav>}
    <!-- <Debug {oeuvre}/> -->
</Layout>
