---
import { Debug } from 'astro:components';
import Layout from '../../layouts/Layout.astro';
import type { CompositeurResponse } from '../../pocketbase-typegen';
export const prerender = false;
const id = Astro.params.id;
const Compositeur = await Astro.locals.pb.collection<CompositeurResponse>('Compositeur').getOne(id!);
---

<Layout 
    pageTitle={Compositeur} 
    CompoNom={`${Compositeur.Prenom} ${Compositeur.Nom}`} 
    Nationalite={Compositeur.Nationalite ? Compositeur.Nationalite : ""} 
    Description="" 
    Couverture={Compositeur.Portrait}
>
    <p>p</p>
    <Debug {Compositeur}/> 
</Layout>
