---
import { Image } from 'astro:assets';
import IconePrincipal from './img/IconePrincipal.svg'
import Planette from './img/Planette.png'
import Arrow from './img/Arrow.svg'
import Menu from './img/Menu.svg'
import Croix from './img/Croix.svg'
---
<div class="bg-Gris-Sombre text-Blanc font-Work-Sans shadow-xl fixed top-0 w-full z-50" x-data="{menuOpen: false}">
    <div class="flex bg-Noir justify-end h-6 lg:h-11 px-12 text-Gris-claire gap-6 items-center text-sm">
        <nav class="hidden lg:flex gap-12 uppercase">
            <a>à propos</a>
            <a>aide</a>
            <a>paramétre</a>
        </nav>
        <div class="bg-Gris-claire w-0.5 h-3 hidden lg:block"></div>
        <div class="hidden lg:flex gap-1 items-center">
            <Image src={Planette} class="w-4 h-4" alt="Langue" />
            <p>FR</p>
            <Image src={Arrow} class="w-2.5" alt="Choix" />
        </div>
    </div>
    <div class="flex justify-between items-center px-5 lg:px-12 h-12 lg:h-20">
        <div class="flex items-center gap-2 lg:gap-3">
            <Image src={IconePrincipal} class="w-7 lg:w-12" alt="Main Icone" />
            <h1 class="uppercase font-semibold text-xl lg:text-3xl">Syminty</h1>
        </div>
        <nav class="hidden lg:flex gap-10 items-center">
            <a>Musique</a>
            <a>Concerts</a>
            <a>Nouveautés</a>
            <a>Se connecter</a>
            <button class="bg-Gris uppercase p-2">Créer un compte</button>
        </nav>
        <button class="lg:hidden block" @click="menuOpen = !menuOpen">
            <Image src={Menu} class="w-5" alt="Main Icone" x-show="!menuOpen"/>
            <Image src={Croix} class="w-5" alt="Main Icone" x-show="menuOpen"/>
        </button>
    </div>
    <nav class="lg:hidden text-Blanc overflow-y-scroll px-5 flex flex-col gap-y-5 py-5 min-h-screen" x-show="menuOpen">
        <div class="flex flex-col text-sm lg:text-base gap-1">
            <a>Musique</a>
            <a>Concerts</a>
            <a>Nouveautés</a>
        </div>        
        <div class="flex flex-col text-sm lg:text-base gap-1">
            <a>Parcourir le catalogue</a>
            <a>Musique selon mon humeur</a>
            <a>Joué récemment</a>
        </div>
        <div class="flex flex-col text-sm lg:text-base gap-1">
            <h2 class="text-lg lg:text-xl text-Gris-claire">Cathégories</h2>
            <a>Pour vous</a>
            <a>Nouveautés</a>
            <a>Genres</a>
            <a>Artistes</a>
            <a>Orchestres</a>
            <a>Albums</a>
            <a>Événement</a>
        </div>
        <div class="flex flex-col text-sm lg:text-base gap-1">
            <h2 class="text-lg lg:text-xl text-Gris-claire">Ma collection</h2>
            <a>Enregistrement</a>
            <a>Favoris</a>
            <a>A écouter plus tard</a>
            <a>Playlists</a>
        </div>
        <div class="flex flex-col text-sm lg:text-base gap-1">
            <a>À Propos</a>
            <a>Aide</a>
            <a>paramètre</a>
        </div>
    </nav>
</div>